1) Carregar base de dados

In [2]:
import pandas as pd

df = pd.read_csv('loja.csv')

print(df.to_string())

    Produto Quantidade Preco        Data      Loja
0  Camiseta         10    50  2024-01-10    Centro
1     calça          5   120  2024/01/12    centro
2     Tênis          3   300  12-01-2024  Shopping
3      BONÉ        NaN    35  2024-01-15  shopping
4  Camiseta         10    50  2024-01-10    Centro
5   MoCHiLA          2   NaN  2024-01-20    Centro
6     Tenis          3   abc  2024-01-22  Shopping
7     Calça      cinco   120  2024-01-25    Centro
8       NaN          8    35  2024-01-27  shopping
9   Jaqueta          4   250  2024-01-30       NaN

2) Remover linhas com células vazias

In [3]:
new_df = df.dropna().copy()
print(new_df.to_string())

    Produto Quantidade Preco        Data      Loja
0  Camiseta         10    50  2024-01-10    Centro
1     calça          5   120  2024/01/12    centro
2     Tênis          3   300  12-01-2024  Shopping
4  Camiseta         10    50  2024-01-10    Centro
6     Tenis          3   abc  2024-01-22  Shopping
7     Calça      cinco   120  2024-01-25    Centro

3) corrigir formato dos dados

In [7]:
new_df.loc[:,'Data'] = pd.to_datetime(new_df['Data'], format='mixed')
print(new_df.to_string())

    Produto Quantidade Preco                 Data      Loja
0  Camiseta         10    50  2024-01-10 00:00:00    Centro
1     calça          5   120  2024-01-12 00:00:00    centro
2     Tênis          3   300  2024-12-01 00:00:00  Shopping
4  Camiseta         10    50  2024-01-10 00:00:00    Centro
6     Tenis          3   abc  2024-01-22 00:00:00  Shopping
7     Calça      cinco   120  2024-01-25 00:00:00    Centro

4) Remover linhas duplicadas

In [9]:
new_df = new_df.drop_duplicates()
print(new_df)

    Produto Quantidade Preco                 Data      Loja
0  Camiseta         10    50  2024-01-10 00:00:00    Centro
1     calça          5   120  2024-01-12 00:00:00    centro
2     Tênis          3   300  2024-12-01 00:00:00  Shopping
6     Tenis          3   abc  2024-01-22 00:00:00  Shopping
7     Calça      cinco   120  2024-01-25 00:00:00    Centro

In [17]:
new_df.loc[7,'Quantidade'] = 5
new_df['Quantidade'] = pd.to_numeric(new_df['Quantidade'])
new_df['Preco'] = pd.to_numeric(new_df['Preco'])

new_df['Total'] = new_df['Quantidade'] * new_df['Preco']

print(new_df)

    Produto  Quantidade  Preco                 Data      Loja  Total
0  Camiseta          10     10  2024-01-10 00:00:00    Centro    100
1     calça           5      5  2024-01-12 00:00:00    centro     25
2     Tênis           3      3  2024-12-01 00:00:00  Shopping      9
6     Tenis           3      3  2024-01-22 00:00:00  Shopping      9
7     Calça           5      5  2024-01-25 00:00:00    Centro     25