In [2]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2],
  'brand': ["B","V","F"]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings brand
0    BMW         3     B
1  Volvo         7     V
2   Ford         2     F

In [7]:
import pandas as pd

a = [1, 7, 2]
myvar = pd.Series(a)
print(type(myvar))
print(myvar)
print(myvar[1])

myvars = pd.Series(a, index = ["x", "y", "z"])
print(myvars['y'])

<class 'pandas.core.series.Series'>
0    1
1    7
2    2
dtype: int64
7
7

In [8]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [30]:
import pandas as pd
df = pd.read_csv('notas.csv', delimiter=';', encoding='latin-1')
print(df.head()) 
print(df.tail(2))

    Nome  nota 1  nota2  nota3
0    ana     7.5    6.5   10.0
1   joÆo     6.5    6.2    9.5
2  pedro     8.0    9.5    5.5
3    ana     7.5    6.5   10.0
4   joÆo     6.5    6.2    9.5
    Nome  nota 1  nota2  nota3
7   joÆo     6.5    6.2    9.5
8  pedro     8.0    9.5    5.5